[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/alfredodeza/pyflakes-vim
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
